CONFIG_JELLYFRAME_ESP32S3_RUN_SCRIPT_SERVICE_ECHO_ACCEPTANCE=y
CONFIG_JELLYFRAME_ESP32S3_SCRIPT_SERVICE_ACCEPTANCE_SCENARIO=1
CONFIG_JELLYFRAME_ESP32S3_ENABLE_SCRIPT_TASK_RUNTIME=y
CONFIG_JELLYFRAME_ESP32S3_UI_TASK_STACK_SIZE=32768
CONFIG_JELLYFRAME_ESP32S3_UI_TASK_PRIORITY=5
CONFIG_JELLYFRAME_ESP32S3_SCRIPT_TASK_STACK_SIZE=24576
CONFIG_JELLYFRAME_ESP32S3_BOARD_WAVESHARE_TOUCH_LCD_147=y
CONFIG_JELLYFRAME_ESP32S3_BOARD_ENABLE_HARDWARE=y
CONFIG_JELLYFRAME_WS147_LCD_DMA_ROWS=8
